* {
    box-sizing: border-box;
}

body {
    background-color: #F3F3F3;
}

strong {
    font-weight: 700;
}

header {
    background-color: white;
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 22px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

header img {
    max-width: 75px;
    min-width: 75px;
}

header ion-icon {
    font-size: 45px;
}

.msg:first-child {
    margin-top: 106px;
}

.msg:last-child {
    margin-bottom: 106px;
}

section {}

ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 4px;

}

.msg {
    width: 100%;
    max-width: 375px;
    background-color: white;
    min-height: 40px;
    max-height: fit-content;
    border-radius: 2px;
    text-align: left;
    padding: 0 8px;
    display: flex;
    gap: 8px;
    align-items: center;
    overflow: hidden;
}

span {
    overflow-wrap: break-word;
}

.fundoCinza {
    background-color: #cdcdcd;
}

.fundoVermelho {
    background-color: #FFDEDE;
}

.msg .horario {
    color: #aaa;
}

.msg .from {}

footer {
    background-color: white;
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 18px;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

footer input {
    border: none;
    height: 30px;
}

::placeholder {
    font-size: 18px;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    opacity: 1;

    color: #000000;
}

button {
    background-color: white;
    border: none;
}

footer ion-icon {
    font-size: 26px;
}

footer input:focus {
    outline: 0;
}

footer:has(input:focus) {
    outline: 3px auto #E5E5E5;
}